# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
env/
venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Raster outputs / temp files
*.tif
*.tiff
*.aux.xml
*.geojson
tmp/
*.tmp

# IDE/project files
.vscode/
.idea/

# Build artifacts
dist/
build/
